html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: tahoma,arial,verdana,sans-serif,'Segoe UI';
    background-color:white;
}
/*css cho phan header*/
.header{
    width:100%;
    min-height:75px;
}
.left-content-header{
    list-style:none;
    margin:0;
    padding:0;
}
.left-content-header li {
    display:block;  
    float:left;
}
.main-logo {
    background: url(../resourse/bandoc-icon/logo.png) no-repeat 0 1px;
    width: 203px;
    height: 40px;
}
.title-dropdown {
    font-size: 18px;
    margin-left: 7px;
    line-height: 40px;
    vertical-align: middle;
    height: 40px;
    color: #7a6b5e;
}
.field-dropdown {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    margin: 9px 8px;
    font-size: 18px;
    color: rgba(153,134,117,1);
    text-align: center;
    vertical-align: middle;
    line-height:100%;
}
.lable-right {
    min-width: 150px;
    float: right;
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;

}
.help-icon {
    background: url(../resourse/bandoc-icon/Help16.png) no-repeat 0 1px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin:0 5px;
}
.lable-right-content {
    display: inline;
    font-weight:bold;
}
.bottom-header{
    position:absolute;
    width:100%;
    top:40px;
}
.navbar-dropdown {
    background-color: #998675;
    max-width: 1000px;
    display: inline-block;
    height: 35px;
}
.navbar-dropdown a{
    text-decoration:none;
    padding:0 8px;
    line-height:35px;
    text-align:center;
    color:white;
    display:inline-block;
}
    .navbar-dropdown a:hover {
        background-color: #7a6b5e;
        color: #f49e42;
    }
.year-dropdown{
    display:inline-block;
    float:right;
    margin-right:8px;
    line-height:35px;
    vertical-align:middle;
}
.year{
    width:95px;
    height:24px;
    font-weight:bold;
}
/*css cho phan table-content*/
.table-content {
    position: absolute;
    width:calc(100% - 30px);
    border: 1px solid red;
    bottom: 0;
    top: 75px;
    padding: 15px;
}
/*-----------*/
.header-content {
    width:calc(100% - 30px);
    position: relative;
}
.header-lable-content {
    font-weight:normal;
    max-width: 500px;
    height: 30px;
    font-size: 22px;
    color: rgba(0,0,0,0.87);
}
.choosen{
    margin:8px 0 10px 0;
}
.choosen button {
    padding: 5px 15px;
    border: 1px solid #7a6b5e;
    cursor: pointer;
    color: #7a6b5e;
    background-color:white;
}
.feedback {
    position: absolute;
    right:0;
    top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f6f6f6;
    max-width: 500px;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px 5px 20px;
    font-size: 15px;
    background: url(../resourse/bandoc-icon/feedback.png) no-repeat 0 5px;
}
/*----------*/
.main-content {
    border: 1px solid #ccc;
    width:100%;  
    position:relative;
    min-height:200px;
    max-height:600px;
}
/*---------------*/
.main-menu-content {
    background-color: #e8e8e8;
    border-bottom:1px solid #ccc;
}

.main-menu-content div {
    display: inline-block;
}

.main-menu-btn {
    margin: 3px 0px;
    padding: 1px 5px;
    border: 1px solid transparent;
    height: 18px;
    font-size: 13px;
}
.main-menu-btn span{
    margin-left:18px;
    
}
    .main-menu-btn:hover {
        background-color: #ced8e5;
        border-color: #99bce8;
        border-radius: 3px;
        cursor: pointer;
    }
.separation {
    color: #7ba4d8;
}
.registry {
    background: url(../resourse/bandoc-icon/add.png) no-repeat 0 1px;
}
.edit {
    background: url(../resourse/bandoc-icon/edit.png) no-repeat 2px 2px;
}
.delete {
    background: url(../resourse/bandoc-icon/delete_metro.png) no-repeat 0 1px;
}
.add {
    background: url(../resourse/bandoc-icon/refresh.png) no-repeat 1px 2px;
}
.tool {
    background: url(../resourse/bandoc-icon/Utility.png) no-repeat 2px 2px;
}
.print {
    background: url(../resourse/bandoc-icon/printer.png) no-repeat 2px 1px;
}
.help {
    background: url(../resourse/bandoc-icon/Help16.png) no-repeat 2px 2px;
}
/*css cho phan main table*/
.table{
    width:100%;
    overflow-x:auto;
    overflow-y:hidden;
}

.table-header {
    width: 100%;
}
.table-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
    height: 100px;
}
.header-row1 div{
    text-align:center;
    font-weight:bold;
}
.table-body .row:hover {
    background-color: #FFCB60;
}
.row {
    display: inline-flex;
    height: 30px;
    border-bottom: 1px solid #ccc;
}
    .row div {
        display: inline-block;
        line-height: 30px;
        border-right: 1px solid #ccc;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
.field1 {
    min-width: 20px;
    text-align: center;
    max-width: 80px;
    width: 40px;
}
.field2 {
    min-width: 40px;
    max-width: 130px;
    width: 130px;
}
.field3 {
    min-width: 130px;
    max-width: 400px;
    width: 200px;
}
.field4 {
    min-width: 40px;
    max-width: 80px;
    width: 80px;
}
.field5 {
    min-width: 40px;
    max-width: 80px;
    width: 80px;
}
.field6 {
    min-width: 40px;
    text-align: center;
    max-width: 150px;
    width: 100px;
}
.field7 {
    min-width: 40px;
    text-align: center;
    max-width: 150px;
    width: 100px;
}
.field8 {
    min-width: 40px;
    text-align: center;
    max-width: 150px;
    width: 100px;
}
.field9 {
    min-width: 40px;
    text-align: center;
    max-width: 150px;
    width: 100px;
}
.paging {
    width: 100%;
    height: 30px;
    border-top: 1px solid #ccc;
}
/*css cho phan lich su muon tra*/
.history-content {
    width: calc(100% - 30px);
    position: absolute;
    bottom: 15px;
}
.history-lable-content{
    font-size:14px;
    padding:8px;
    
}
.history-table-content {
    min-height: 170px;
    position: relative;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.history-data {
    width: 100%;
    overflow: scroll;
    position: absolute;
    bottom: 30px;
    top: 0;
    
}


